@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

:root {
  --darkBrown: #402c2c;
  --darkLateGray: #2f4f4f;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.check-icon {
  width: 45px;
}

h1 {
  font-family: "Poetsen One", "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  color: #303f3f;
  text-shadow: 2px 2px 2px #362a2abd;
  margin: 15px 2px;
}

.plus {
  width: 17px;
}

.container {
  display: flex;
  height: 100%;
}

/* project section */
#myProjects {
  color: white;
  font-style: italic;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 18px;
  padding: 12px;
  background-color: var(--darkLateGray);
  cursor: pointer;
  border-style: groove;
  border-radius: 15px 0 15px 0;
  transition: 0.3s;
}

#myProjects:hover {
  background-color: #000028;
  border-radius: 0 15px 0 15px;
}

#addBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  gap: 5px;
  padding: 9px 7px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#addBtn:hover {
  background-color: #fcd9ae;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 628px;
  overflow: auto;
  gap: 5px;
  background-color: #d3d3d373;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.projects-btns {
  font-family: fantasy, "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  background-color: white;
  color: #000028;
  border: none;
  border-bottom: 2px solid var(--darkLateGray);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.projects-btns:hover {
  padding-left: 20px;
  border-bottom: 2px solid bisque;
}

.projects-btns:active {
  box-shadow: none;
}

.project-dialog {
  border-style: dashed;
  border: 2px dashed var(--darkLateGray);
  border-radius: 20px;
  width: 32%;
  padding: 15px 40px;
  animation: fade-out 0.5s ease-out;
}

.dialog-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  font-weight: 600;
}
.dialog-btns {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.dialog-btns button {
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--darkLateGray);
  border-radius: 6px;
  cursor: pointer;
}

.dialog-btns button:hover {
  opacity: 0.8;
}

input,
select {
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #f2f2f2;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
}

.project-dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.project-dialog[open] {
  animation: fadein 0.5s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}

.project-list {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list h2 {
  font-family: "Poetsen One", sans-serif;
  font-size: 31px;
  color: var(--darkBrown);
  margin-bottom: 0;
}

.project-list > p {
  background-color: var(--darkBrown);
  color: white;
  width: fit-content;
  padding: 4px 7px;
  font-size: 15px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.project-info {
  width: 50%;
  padding: 10px 30px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.project-info span {
  color: red;
  font-weight: bold;
}

.project-info > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.project-info button {
  height: 35px;
  padding: 0 25px;
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.project-info button:hover {
  background-color: rgb(51, 51, 51);
}

/* todos section */

.todo-add-btn {
  border: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 5px;
  padding: 9px 13px;
  border-radius: 20px;
  background-color: rgb(61, 102, 102);
  color: white;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.todo-add-btn:hover {
  background-color: #000028;
}

.todo-list {
  display: none;
  width: 100%;
}

.todo-list h3 {
  font-family: monospace;
  font-size: 28px;
  color: var(--darkBrown);
}

.todo-list h3::before {
  content: "📑";
}

.todo {
  background-color: rgba(226, 226, 226, 0.364);
  position: relative;
  display: flex;
  width: 70%;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease 0s;
}

.todo p {
  width: 50%;
}

.todo p + p {
  font-family: monospace;
  font-weight: bold;
}

.todo-btns {
  width: 150px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  top: 25%;
  right: 15%;
}

.todo-btns button {
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 600;

  background-color: rgb(186, 103, 1);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}

.todo-btns :nth-child(2) {
  background-color: black;
}

.todo-btns button:hover {
  color: black;
  background-color: beige;
}

.todo-check {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}

.todo-check label {
  font-family: Poetsen One, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkBrown);
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 17px;
  height: 17px;
  accent-color: var(--darkLateGray);
}

.project-container {
  height: 100%;
  padding: 10px 20px;
}

.todo-dialog {
  border-style: dashed;
  border: 2px dashed var(--darkLateGray);
  border-radius: 20px;
  width: 32%;
  padding: 15px 40px;
  animation: fade-out 0.5s ease-out;
}

.todo-inputs div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

.todo-dialog[open] {
  animation: fadein 0.5s ease-in forwards;
}

.todo-dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.todo-dialog-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-dialog-btns button {
  padding: 10px;
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s;
}

.todo-dialog-btns button:hover {
  opacity: 0.7;
}

#create-todo {
  background-color: rgb(48, 0, 0);
}

.edit-todo {
  border-style: dashed;
  border: 2px dashed var(--darkLateGray);
  border-radius: 20px;
  width: 32%;
  padding: 15px 40px;
  animation: fade-out 0.5s ease-out;
}

.edit-todo[open] {
  animation: fadein 0.5s ease-in forwards;
}

.edit-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
  gap: 8px;
}

.edit-inputs button {
  padding: 10px;
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s;
  margin-top: 10px;
}

.edit-inputs button:hover {
  opacity: 0.7;
}

#edit-todo {
  background-color: rgb(48, 0, 0);
}

/* footer section */
footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px 8px;
}

footer p {
  color: white;
}

a {
  color: rgb(212, 212, 212);
  font-size: 15px;
}
